<form #form="ngForm" class="flex-divide" (submit)="onProductSubmit(product)">
  <mat-form-field class="example-full-width">
    <mat-label>Add</mat-label>
    <input name="add-product" matInput placeholder="Ex. Ice Tea" [(ngModel)]="product">
  </mat-form-field>
  <button mat-button type="submit" color="success"><mat-icon>add</mat-icon></button>
</form>