html {
  background-color: var(--color-grey-800);
}

body {
  max-width: 600px;
  margin: 0 auto;
}

body {
  background-color: var(--color-grey-100);
  height: auto;
}

app-root {
  /* background-color: var(--color-grey-800); */

}


.flex-divide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
