<main>
  <mat-card>
    <app-product-add
      (onProductAdd)="addProduct($event)"
    >
    </app-product-add>
  </mat-card>
  <mat-card>
    <app-product-list
      [products]="products"
      (onRemoveProduct)="removeProduct($event)"
    ></app-product-list>
  </mat-card>
</main>

<router-outlet></router-outlet>