<mat-card-content>
  <mat-list>
      <mat-list-item class="mat-list-item--content-spread" *ngFor="let product of products" >
        <div class="flex-divide">
          <span>{{product}}</span>
          <button mat-button color="warn" (click)="onRemoveProduct.emit(product)"><mat-icon>delete</mat-icon></button>
        </div>
      </mat-list-item>
  </mat-list>
</mat-card-content>